DATABASE_USER=db-user
DATABASE_PASSWORD=db-password
DATABASE_NAME=db-name
DATABASE_HOST=db-host
DATABASE_PORT=db-port

DATABASE_CONTAINER=db-container-name
RABBITMQ_CONTAINER=rabbitmq-container-name

API_GATEWAY_CONTAINER=api_gateway-container-name
USER_SERVICE_CONTAINER=user_service-container-name
AUTH_SERVICE_CONTAINER=auth_service-container-name
EMAIL_SERVICE_CONTAINER=email_service-container-name
