USER_DATABASE_USER=user-db-name
USER_DATABASE_PASSWORD=user-db-password
USER_DATABASE_NAME=user-db-name
USER_DATABASE_HOST=user-db-host
USER_DATABASE_PORT=user-db-port

USER_DATABASE_CONTAINER=user-db-container
USER_SERVICE_CONTAINER=user-service-container
