DATABASE_CONTAINER=database-container
DATABASE_USER=database-user
DATABASE_PASSWORD=database-password
DATABASE_NAME=database-name
DATABASE_HOST=database-host
DATABASE_PORT=database-port


USER_SERVICE_CONTAINER=user-service-container-name
USER_SERVICE_PORT=user-service-port

AUTH_SERVICE_CONTAINER=auth-service-container-name
AUTH_SERVICE_PORT=auth-service-port
