<html>
    <body>
        <h3>Account Verification</h3>
        <p>Click the button below to verify your account.</p>
        <footer>
            <form method="POST" action="{{ verification_link }}">
                <button type="submit" style="padding: 10px; width: 120px; height: 40px; color: #fafafa; background-color: #03a3ff; border-radius: 4px; border: none; cursor: pointer;">
                    <b>Verify</b>
                </button>
            </form>
        </footer>
    </body>
</html>
